@import '../styles/theme-variables.css';

.validate-form {
  margin-top: 5%;
  width: 20vw;
  height: 5vh;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 1px 3px 8px black;
  cursor: pointer;
  font-weight: 700;
}
.inputs {
  display: flex;
  gap: 15px;
  width: 20vw;
  flex-direction: column;
}
.inputs input,
.select-form {
  /* margin-top: 10%; */
  background-color: var(--input-secondary);
  height: 4.5vh;
  padding-left: 5%;
  border: 1.5px solid black;
  border-radius: 8px;
}

.select-product {
  margin-top: 5%;
}

.form a {
  color: black;
  text-decoration: underline;
}
.form p {
  margin-bottom: 5%;
}
.form {
  background-color: white;
  background-image: url('../styles/images/pano_fruitsveggies_lessOpacity.png');
  width: 35vw;
  border-radius: 15px;
  padding: 1.5% 3% 1.5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-lost {
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.lost {
  margin-top: 2%;
  align-self: flex-end;
}
.inputs textarea {
  background-color: var(--input-secondary);
  font-family: inherit;
  padding: 2% 5%;
  border: 1.5px solid black;
  border-radius: 8px;
  resize: none;
}

.quantity {
  display: flex;
}

.quantity-text {
  flex-grow: 1;
}

.form .join-us {
  color: var(--secondary-color);
  font-weight: 600;
}

