@import '../../../styles/theme-variables.css';

header {
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 15px;
  position: relative;
}
.login-menu-button {
  width: fit-content;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}
.login-menu-button:hover {
  transition: 0.5s;
  color: var(--secondary-color);
}
header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a {
  margin: 60px;
  padding-bottom: 10px;
  font-weight: 500;
}
.active {
  color: var(--primary-color);
  border-bottom: solid 5px var(--primary-color);
}

nav a:hover {
  color: var(--primary-color);
}

@media all and (max-width: 1200px) {
  nav a {
    margin: 15px;
  }
}

header h2:hover {
  cursor: pointer;
}
