@import '../../../styles/theme-variables.css';

header {
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 15px;
  position: relative;
}
.login-menu-button {
  width: fit-content;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3em;
}
.login-menu-button:hover {
  transition: 0.2s;
  color: var(--secondary-color);
}

.login-side-menu-button {
  width: fit-content;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
  color: black;
}
.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  cursor: pointer;
}
.user-icon {
  width: 15%;
}

nav a {
  margin: 60px;
  padding-bottom: 10px;
  font-weight: 600;
}
.active {
  color: var(--primary-color);
  border-bottom: solid 5px var(--primary-color);
}
nav a:hover {
  color: var(--primary-color);
}
header h2:hover {
  cursor: pointer;
}

.responsive-menu {
  display: none;
}


@media all and (max-width: 1800px) {
  nav a {
    margin: 38px;
  }
}
@media all and (max-width: 1400px) {
  nav a {
    margin: 25px;
  }
}
@media all and (max-width: 1200px) {
  nav a {
    margin: 15px;
  }
}

@media all and (max-width: 950px) {
  nav, .header-user, .login-menu-button{
   display: none;
  }

  header {
    padding: 15px 2% 15px 2%;
    display: flex;
    justify-content:space-between;
  }

  .responsive-menu {
    display: block;
    width: clamp(35px, 5vw, 600px);
    cursor: pointer;
  }
}
