@import '../../../styles/theme-variables.css';

header {
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 15px;
  position: relative;
}
.login-menu-button {
  width: fit-content;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3em;
}
.login-menu-button:hover {
  transition: 0.2s;
  color: var(--secondary-color);
}

.login-side-menu-button {
  width: fit-content;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
  color: black;
}
.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
  cursor: pointer;
}
.user-icon {
  width: 15%;
}

nav a {
  margin: 60px;
  padding-bottom: 10px;
  font-weight: 600;
}
.active {
  color: var(--primary-color);
  border-bottom: solid 5px var(--primary-color);
}
nav a:hover {
  color: var(--primary-color);
}
header h2:hover {
  cursor: pointer;
}

.alt-menu {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding: 5%;
  gap: 10%;
  position: absolute;
  top: 99%;
  background-color: var(--secondary-color-lighter);
}

.alt-menu a {
  margin-bottom: 5%;
}

.alt-user-menu {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding: 5%;
  gap: 10%;
  position: absolute;
  top: 99%;
  background-color: var(--secondary-color-lighter);
}

.alt-menu a:hover {
  color: var(--secondary-color);
}
.side-user-menu a:hover {
  color: var(--secondary-color);
}

.side-user-menu {
  font-size: 0.9em;
  display: flex;
  gap: 5%;
  flex-direction: column;
  height: 130px;
  width: 15vw;
  align-items: flex-start;
}

.side-user-menu a {
  margin-bottom: 5%;
}

.log-out-side-btn {
  margin-top: 10%;
  border: none;
  color: white;
  height: 35px;
  padding: 3%;
  background-color: var(--secondary-color);
  box-shadow: 1px 3px 8px black;
  cursor: pointer;
  /* font-weight: 600; */
}

.responsive-menu {
  display: none;
}

.alt-menu,
.alt-user-menu {
  display: none;
}

.user-side-logo {
  display: none;
  align-items: center;
  gap: 5%;
  font-size: 1.3em;
  color: var(--primary-color);
  /* font-weight: 600; */
}

@media all and (max-width: 1800px) {
  nav a {
    margin: 38px;
  }
}
@media all and (max-width: 1400px) {
  nav a {
    margin: 25px;
  }
}
@media all and (max-width: 1200px) {
  nav a {
    margin: 15px;
  }
}

@media all and (max-width: 1110px) {
  nav,
  .header-user,
  .login-menu-button {
    display: none;
  }

  .user-side-logo {
    display: flex;
    cursor: pointer;
    font-weight: 700;
  }

  #foodtroc-logo {
    margin-left: -8%;
  }

  header {
    padding: 15px 2% 15px 2%;
    display: flex;
    justify-content: space-between;
  }
  .responsive-menu {
    display: block;
    width: clamp(35px, 4.5vw, 600px);
    cursor: pointer;
  }
  .alt-menu,
  .alt-user-menu {
    display: flex;
  }
}
