@import url('../../styles/theme-variables.css');

.stock-card {
    background-color: var(--secondary-color-lighter);
    padding: 5% 3% 5% 3%;
    border-radius: 20px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-info {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30%;
}

.stock-info h2 {
    margin: auto;
    margin-left: 0%;
    margin-bottom: 0%;
    width: 6vw;
    align-self: flex-start;
}

.stock-card img {
    width: 10vw;
    height: 14vh;
    border-radius: 8px;
}

.delete-product {
    justify-self: flex-end;
    padding: 5%;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-color);
    align-self: flex-end;
    cursor: pointer;
}

.delete-product:hover {
    background-color: var(--primary-color);
}

.confirm-delete-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.validate-delete {
    margin-top: 5%;
    width: 10vw;
    height: 3vh;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    box-shadow: 1px 3px 8px black;
    cursor: pointer;
}