.baniere {
  background-image: url("../../styles/images/fruitsveggies.png");
  background-size: cover;
  width: 100vw;
  height: 55vh;
}
.howTo-title {
  margin-top: 30px;
  text-align: center;
}
.first-section-howto {
  width: 50%;
  margin: 5em auto;
}
.first-section-howto p {
  margin: 1em 0;
}

img:first-of-type {
  margin-left: -30%;
  margin-bottom: 5%;
}

img:nth-of-type(2n) {
  margin-left: 30%;
  margin-top: 5%;
}