.baniere {
  background-image: url("../../styles/images/fruitsveggies.png");
  background-size: cover;
  width: 100vw;
  height: 55vh;
}
.howTo-title {
  margin-top: 30px;
  text-align: center;
}

.howto img {
  width: 30vw;
}

.first-section-howto {
  width: 50%;
  margin: 5em auto;
}
.first-section-howto p {
  margin: 1em 0;
}

#people-food {
  margin-left: -30%;
  margin-bottom: 5%;
}

#basket {
  margin-left: 15%;
  margin-top: 5%;
}

.image-quote {
  display: flex;
  font-size: 1.4em;
  align-items: center;
}

.quote1 {
  margin-left: 20%;
}

.quote2 {
  margin-left: -25%;
}

.foodtroc-user {
  font-style: italic;
  color: darkgrey;
}

.howto-main-text {
  margin: 10% 0 10% 0;
}

.foodtroc-quote {
  width: 35vw;
}


@media all and (max-width: 1110px) {
  
}
