.stock {
  background-image: url('../../styles/images/background_fruitsveggies.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 80vh; */
}
.my-stock {
  background-color: white;
  background-image: url('../../styles/images/pano_fruitsveggies_lessOpacity.png');
  border-radius: 15px;
  margin: 5vh auto;
  padding: 1.5% 3% 1.5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.add-btn {
  background-color: var(--secondary-color);
  border: none;
  padding: 1.5%;
  border-radius: 50%;
  font-size: 3.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.my-stock a {
  text-decoration: none;
  color: black;
}
