.menu {
  background-color: white;
  font-weight: 500; 
  border-radius: 10px;
  display: grid;
  gap: 2vh;
  width: 20vw;
  position: absolute;
  right: 10px;
  top: 90px;
  padding: 20px;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.5);
}
.menu-title {
  text-align: center;
}
.menu-container {
  display: flex;
  align-items: center;
}
.menu-info-user {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.side-menu-info-user {
  display: flex;
  align-items: center;
  gap: 5%;
}
.menu-email {
  font-size: 0.8em;
}
.log-out-btn {
  margin: 1vh auto;
  width: 80%;
  height: 5vh;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 1px 3px 8px black;
  cursor: pointer;
  font-weight: 600;
}

.menu img {
  width: 20%;
}

