.pop-up-garden {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  background-color: white;
  background-image: url('../../styles/images/pano_fruitsveggies_lessOpacity.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 80vh; */
  min-width: 60vw;
  border-radius: 8px;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.8);
  padding: 2em;
}
.pop-up-garden-header {
  display: grid;
}
.pop-up-garden-header h2 {
  text-align: center;
  border-bottom: 3px solid var(--secondary-color);
  padding: 0.4em;
  font-weight: 400;
}
.pop-up-garden-header {
  display: grid;
  gap: 1em;
}
.pop-up-garden-contact-container {
  display: flex;
  justify-content: space-around;
}
.pop-up-garden-stock-container {
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5em;
  overflow-y: scroll;
  max-height: 55vh;
}
.pop-up-garden-product-container {
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 5px;
  margin: 0.5em;
  padding: 0.5em;
}
.pop-up-garden-product-container h3 {
  font-weight: 400;
  grid-column: 1/3;
  text-align: center;
  width: 50%;
  border-bottom: 3px solid var(--secondary-color);
}
.pop-up-garden-product-description {
  text-align: center;
  width: max-content;
}
.pop-up-garden-product-description p {
  margin: 0.5em 0;
}
.pop-up-garden-product-description span {
  font-weight: bold;
}

@media all and (max-width: 1380px) {
  .pop-up-garden-stock-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 1045px) {
  .pop-up-garden-stock-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 700px) {
  .pop-up-garden-stock-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .pop-up-garden {
    height: 90vh;
  }
  .pop-up-garden-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.pop-up-garden-back {
  position: absolute;
  width: 8em;
  height: 5vh;
  top: 1em;
  left: 2.5em;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 1px 3px 8px black;
  cursor: pointer;
  font-weight: 600;
}
