@import '../../styles/theme-variables.css';

main h1 {
  background-image: url('../../styles/images/fruitsveggies.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  line-height: 75vh;
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: 400;
}
section {
  width: 75%;
  margin: auto;
}
.first-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 50px;
}
.first-section div {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 232, 232);
  background-image: url('../../styles/images/pano_fruitsveggies_lessOpacity.png');
  border-radius: 10px;
}
.first-section div img {
  margin: auto;
  transform: scale(0.7);
}
.first-section div p {
  text-align: center;
  padding: 20px;
}
.second-section {
  text-align: justify;
}
h2 {
  text-align: center;
  margin: 30px;
}
