@import '../../styles/theme-variables.css';

.home-title {
  background-image: url('../../styles/images/fruitsveggies.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  line-height: 75vh;
  text-align: center;
  color: white;
  font-size: clamp(3em,4em, 6em);
  font-weight: 400;
}
.first-section-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 75%;
  margin: 50px auto 0;
}
.first-section-home div {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 232, 232);
  background-image: url('../../styles/images/pano_fruitsveggies_lessOpacity.png');
  border-radius: 10px;
}
.first-section-home div img {
  margin: auto;
  transform: scale(0.7);
}
.first-section-home div p {
  text-align: center;
  padding: 20px;
}
.second-section-home {
  text-align: justify;
  width: 45%;
  margin: auto;
}
h2 {
  text-align: center;
  margin: 30px;
}

.bold {
  font-weight: bold;
}


@media all and (max-width: 950px) {
  .home-title {
    font-size: 3em;
  }
}