.troc {
    background-image: url("./fruitsveggies\ 1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1%;
    padding: 2%;
    margin: 0 2% 0 2%;
    
}

