.troc-page {
  background-image: url('../../styles/images/background_fruitsveggies.webp');
}
.troc-filter-container {
}
.troc {

    background-image: url("../../styles/images/background_fruitsveggies.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 8% 5% 8% 5%;
    min-height: 80vh;

}
