footer a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.social-text {
    background-color: #281D1D;
    background-image: url("../../../styles/images/pano_fruitsveggies.png");
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20%;
    padding: 0.5%;
    height: 10vh;
}

footer {
    display: flex;
    flex-direction: column;
}

.social {
    margin-left: -3%;
    display: flex;
    gap: 20%;
}

.social img {
   transform: scale(0.45) 
}

.legal-text {
    display: flex;
    gap: 25%;
}

.footer-text {
    font-size: 1.2em;
    background-color: #ED3A03;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
}