.product-card {
    background-color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 20px;
    width: 15vw;
    background-image: url("../../styles/images/pano_fruitsveggies_lessOpacity.png");
    margin-bottom: 15%;
}

.product-info {
    display: flex;
    gap: 9%;
}

.product-info h2 {
    width: 25vw;
    margin-left: 0%;
    border-bottom: 3px solid rgb(255, 94, 0);
}

.product-info img:first-of-type {
    width: 4vw;
    height: 6vh;
}

.product-footer {
    margin-top: 2%;
    display: flex;
    gap: 30%;
}

.location {
    display: flex;
    align-items: center;
}

.product-card button {
    border: none;
    background-color: #ED3A03;
    color: white;
    border-radius: 9px;
    height: 3vh;
    padding: 3%;
}

.product-card button:hover {
    background-color: #83be21;
    cursor: pointer;
}